body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.flag {
    width: 300px;
    height: 180px;
    margin: 50px auto 20px;
    border: 1px solid #000;
}

.line {
    height: 60px; /* 180px / 3 stripes */
    width: 100%;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.gold {
    background-color: gold;
}
